{
  "root": true,
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": [
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["prettier", "@typescript-eslint"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module"
  },
  "rules": {
    "linebreak-style": "off",
    "import/prefer-default-export": "off",
    "arrow-parens": ["error", "as-needed"],
    "implicit-arrow-linebreak": "off",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "no-debugger": "warn",
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "no-empty-function" : "off" ,
    "@typescript-eslint/no-empty-function" : [ "error", { "allow": ["arrowFunctions"] } ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".ts"]
      }
    },
    "import/core-modules": ["phaser"]
  },
  "globals": {
    "Phaser": true
  },
  "overrides": [
    {
      "files": ["**/*.ts"],
      "parserOptions": {
        "project": ["./tsconfig.json"],
        "tsconfigRootDir": "./"
      },
      "rules": {
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/no-floating-promises": "off",
        "@typescript-eslint/ban-types": "off"
      }
    }
  ]
}
